<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index2</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container" id="todo">
	<h1 class="text-center">TODOLIST</h1>
	<form action="" role="form">
		<label for="name">名称：</label>
		<input type="text" class="form-control" name="name" id="name" ref="sele" placeholder="请输入名称" v-model="username">
		<br />
		<label for="age">年龄：</label>
		<input type="text" class="form-control" name="age" id="age" ref="sele" placeholder="请输入年龄" v-model="age">
		<br />
		<div>
			<button type="button" class="btn btn-primary" @click="addData()" value="添加">添加</button>
			<input type="reset" class="btn btn-danger" value="重置">
		</div>
	</form>
	<hr>
	<h3 class="text-center text-muted">数据查询列表</h3>
	<table role="table" class="table">
		<tr>
			<th class="text-center">#</th>
			<th class="text-center">名称</th>
			<th char="text-center">年龄</th>
			<th class="text-center">操作</th>
		</tr>
		<tr class="text-center" v-for="(list,index) in myData">
			<td>{{index+1}}</td>
			<td>{{list.username}}</td>
			<td>{{list.age}}</td>
			<td>
				<button class="btn btn-danger" data-toggle="modal" data-target="#layer" @click="nowindex=index,m=false">删除</button>
			</td>
		</tr>
		<tr v-show="myData.length==0">
			<td colspan="4">
				<p class="text-center text-muted">暂无数据……</p>
			</td>
		</tr>
		<tr v-show="myData.length!=0">
			<td colspan="4" class="text-right">
				<button class="btn btn-danger" @click="nowindex=-1,m=true" data-toggle="modal" data-target="#layer">删除全部</button>
			</td>
		</tr>
	</table>
	<!--模态框 弹出窗-->
	 <div role="dialog" class="modal fade" id="layer" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">确定<span v-show="m">全部</span>删除吗？</h4>
                    <div class="text-right">
                        <button class="btn btn-primary" data-dismiss="modal">取消</button>
                        <button class="btn btn-danger" data-dismiss="modal" @click="noindex(nowindex)">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/index2.js"></script>
</body>
</html>